Binaries/
DerivedDataCache/
Intermediate/
Saved/
Content/Art
.vs/
.idea/
*.sln
*.vcxproj*
*.user
.DS_Store
Thumbs.db
/Content/.SynologyWorkingDirectory
/Content/EasyFog
/Content/UltraDynamicSky
/Content/TemplesOfCambodia
/Content/Megaplant_Library
.SynologyWorkingDirectory